#footpanel {
	position: fixed;
	bottom: 0; left: 0;
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width: 90%;
	margin: 0 3%;
}

#footpanel ul {
	padding: 0; margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /*--Gives the bevel feel on the panel--*/
	font-size: 1.1em;
}
#footpanel ul li{
	padding: 0; margin: 0;
	float: left;
	position: relative;
}
#footpanel ul li a{
	padding: 5px;
	float: left;
	text-indent: -9999px; /*--For text replacement - Shove text off of the page--*/
	height: 16px; width: 16px;
	text-decoration: none;
	color: #333;
	position: relative;
}
#userlogout
{
  position: relative;
  float: right;
  top: 10px;
  right: 150px;
  width: auto;
  font-size: small;
}
html #footpanel ul li a:hover{	background-color: #fff; }
html #footpanel ul li a.active { /*--Active state when sub-panel is open--*/
	background-color: #fff;
	height: 17px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}
#footpanel a.home{
	background: url(../images/home.png) no-repeat 15px center;
	width: 30px;
	padding-left: 40px;
	border-right: 1px solid #bbb;
	font-size: 10px;
	text-indent: 0; /*--Reset text indent since there will be a combination of both text and image--*/
}
a.profile{
  background: url(../images/user.png) no-repeat center center;
  border-right: 1px solid #bbb;
}
a.editprofile{
  background: url(../images/screwdriver.png) no-repeat center center;
  border-right: 1px solid #bbb;
}
a.dashboard{
  background: url(../images/dash.png) no-repeat center center;
  border-right: 1px solid #bbb;
}
a.contacts{ background: url(../images/address-book.png) no-repeat center center; }
#footpanel #messages {
  width: 100%;
  padding-left: 50px;
  padding-top: 5px;
  color: red;
	font-size: 12px;
	text-indent: 0;
    font-weight: bold;
}
#footpanel #menucode {
  width: 100px;
	font-size: 12px;
	text-indent: 0;
}
#footpanel .formclass
{
  float:left;
  position: relative;
  left: 30px;
}
#footpanel input
{

}
a.alerts{ background: url(../images/newspaper.png) no-repeat center center; }
#footpanel a.chat{
	background: url(../images/balloon.png) no-repeat 15px center;
	width: 80px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding-left: 40px;
	font-size: 12px;
	text-indent: 0; /*--Reset text indent since there will be a combination of both text and image--*/
}
#footpanel li#chatpanel, #footpanel li#alertpanel {	float: right; }  /*--Right align the chat and alert panels--*/
#footpanel a small {
	text-align: center;
	width: 70px;
	background: url(../images/pop_arrow.gif) no-repeat center bottom;
	padding: 5px 5px 11px;
	display: none; /*--Hide by default--*/
	color: #fff;
	font-size: 10px;
	text-indent: 0;
}
#footpanel a:hover small{
	display: block; /*--Show on hover--*/
	position: absolute;
	top: -35px; /*--Position tooltip 35px above the list item--*/
	left: 50%;
	margin-left: -40px; /*--Center the tooltip--*/
	z-index: 9999;
}
#footpanel ul li div a { /*--Reset link style for sub-panel links--*/
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
}
#footpanel ul li div a:hover {	text-decoration: underline; } /*--Reset hover style for sub-panel links--*/
#footpanel .subpanel {
	position: absolute;
	left: 0; bottom: 27px;
	display: none;	/*--Hide by default--*/
	width: 150px;
	border: 1px solid #555;
	background: #fff;
	font-size:12px;
	overflow: hidden;
}
#footpanel h3 {
	background: #526ea6;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
#footpanel h3 span { /*--Right aligned "-" icon--*/
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;
	font-weight: normal;
}
#footpanel .subpanel ul{
	padding: 0; margin: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	padding-bottom: 2px;
}
#footpanel .subpanel li{
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
	font-size: 0.9em;
}
#chatpanel .subpanel li { background: url(dash.gif) repeat-x left center; }
#chatpanel .subpanel li span {
	padding: 5px;
	background: #fff;
	color: #777;
	float: left;
}
#chatpanel .subpanel li a img {
	float: left;
	margin: 0 5px;
}
#chatpanel .subpanel li a{
	padding: 3px 0;	margin: 0;
	line-height: 22px;
	height: 22px;
	background: #fff;
	display: block;
}
#chatpanel .subpanel li a:hover {
	background: #3b5998;
	color: #fff;
	text-decoration: none;
}
#alertpanel .subpanel { right: 0; left: auto; /*--Reset left positioning and make it right positioned--*/ }
#alertpanel .subpanel li {
	border-top: 1px solid #f0f0f0;
	display: block;
}
#alertpanel .subpanel li p {padding: 5px 10px;}
#alertpanel .subpanel li a.delete{
	background: url(delete_x.gif) no-repeat;
	float: right;
	width: 13px; height: 14px;
	margin: 5px;
	text-indent: -9999px;
	visibility: hidden; /*--Hides by default but still takes up space (not completely gone like display:none;)--*/
}
#alertpanel .subpanel li a.delete:hover { background-position: left bottom; }
#footpanel #alertpanel li.view {
	text-align: right;
	padding: 5px 10px 5px 0;
}
#footpanel #contentnote {
  font-size: 12px;
}

#toolbar {
position:relative;
left: -225px;
top: 80px;
width: 500px;
height: 50px;
margin:0px auto;
}

#toolbarnext {
position:relative;
left: -125px;
top: 30px;
width: 500px;
height: 50px;
margin:0px auto;
}

#toolbarnext1 {
position:relative;
left: -125px;
top: 12px;
width: 500px;
height: 50px;
margin:0px auto;
}

#toolbarnext2 {
position:relative;
left: -55px;
top: -20px;
width: 500px;
height: 50px;
margin:0px auto;
}

#toolbardoublegrid {
position:relative;
left: -225px;
top: 30px;
width: 500px;
height: 50px;
margin:0px auto;
}

#uploadFile {
  position: relative;
  left: -250px;
  top: 3px;
  width: 25px;
  height: 25px;
}

#uploadFile .qq-upload-button {
  position: relative;
  left: 0px;
  top: 5px;
}

#uploadPhoto {
  position: relative;
  left: -320px;
  top: 44px;
  width: 25px;
  height: 25px;
}

#uploadPhoto .qq-upload-button
{
  position: relative;
  top: 0px;
  left: 5px;
}

#formabs
{ 
  position: relative;
  top: 80px;
}

#reportperday
{
position:relative;
left: 0px;
top: 0px;
width: 960px;
height: 50px;
margin:0px auto;
}

.recordpage
{
  position: relative;
  left: 10px;
  top: -10px;
  width: auto;
  display: inline-block;
}

.recordpage input
{
  position: relative;
  left: 10px;
}

#reportperday input
{
  left: 30px;
}

#reason
{
width: 200px;
}

#shortin
{
width: 100px;
}

#shortout
{
width: 100px;
}

#reportperday .recordpage
{
  position: relative;
  left: 10px;
top: 0px;
  width: auto;
  display: inline-block;
}

#reportperday .recordpage input
{
  position: relative;
  left: 10px;
}

#help {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
}

#help .h1help {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: medium;
  font-weight: bold;
}

#help .phelp {
  font-size: small;
  font-weight: normal;
}

#help table {
  font-size: small;
}
#yw0.portlet {
	position: relative;
	float: left;
	width: 350px;
}
.daftarkaryawanform {
	width: 350px;
}
#daftarkaryawan-form {
	width: 350px;
}
#daftarkaryawangrid {
    width: 350px;
}
#yw3.portlet {
	position: relative;
	float: left;
	left: 100px;
	width: 600px;
}
.userinboxform {
	width: 600px;
}
#userinbox-form{
	width: 600px;
}
#userinboxgrid {
    width: 550px;
}